USE [BusinessCardDb]
GO
/****** Object:  Table [dbo].[BusinessCards]    Script Date: 10/19/2024 8:35:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_BusinessCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BusinessCards] ON 

INSERT [dbo].[BusinessCards] ([Id], [Name], [Gender], [DateOfBirth], [Email], [Phone], [Address], [Photo]) VALUES (224, N'mones qudah', N'male', CAST(N'1999-10-29T00:00:00.0000000' AS DateTime2), N'monesq22@gmail.com', N'0790745694', N'amman', N'')
SET IDENTITY_INSERT [dbo].[BusinessCards] OFF
GO
